#if ($squad)
<h1>$squad.getmName() heroes:</h1>

<ul>
  #foreach($hero in $squad.getHeroes())
   <li>$hero.getmName()</li>
   <li>$hero.getmAge()</li>
   <li>$hero.getmSpecialPowers()</li>
   <li>$hero.getmWeakness()</li>
  #end
</ul>
#else
<em id="error"><p>Oops! We cant seem to find that Squad.</p></em>
#end

<a class="btn btn-outline-dark" href="/squads/$squad.getId()/heroes/new">Add new hero</a>
<br>
<a class="btn btn-outline-dark" href="/squads">All squad</a>