<h1>Add Squad</h1>

<p>Add a Squad</p>

<form action="/squads" method="post">
  <label for="name">Max size</label>
  <input id="size" name="size" type="text">

  <label for="name">Name</label>
    <input id="name" name="name" type="text">

    <label for="name">Cause</label>
      <input id="cause" name="cause" type="text">

  <button type="submit" class="btn btn-success">Add Category</button>
</form>